:root {
  --color-primary: #40e0d0;
  --color-secondary: #ff6347;
  --color-light: #f7f7f7;
  --color-dark: #444;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: var(--color-secondary);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Code", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.7;
  overflow: hidden;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 0 10vw;
  z-index: 100;
  animation: navReveal 5s 1;
}

@keyframes navReveal {
  from {
    transform: translateY(-10rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar.sticky {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 5.3px 7.9px 20.8px rgba(0, 0, 0, 0.025),
    42px 63px 166px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
}

.logo img {
  display: block;
  width: 10rem;
}

.links {
  display: flex;
  gap: 5rem;
}

.links.links-open {
  width: 100vw;
  height: 100vh;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  background-color: var(--color-light);
}

@keyframes mobileNavAppear {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes mobileNavDisappear {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

.link-item a {
  color: inherit;
  position: relative;
}

.link-item a::after {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--color-dark);
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.link-item a:hover::after {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 102;
}

.toggle span {
  background-color: var(--color-dark);
  width: 20px;
  height: 2px;
  transition: all 0.3s;
}

.toggle span:nth-child(2) {
  width: 14px;
}

.toggle.toggle-close span:first-child {
  transform: rotate(45deg) translateY(10px);
}

.toggle.toggle-close span:nth-child(2) {
  transform: translateX(-10rem);
  opacity: 0;
  visibility: hidden;
}

.toggle.toggle-close span:last-child {
  transform: rotate(-45deg) translateY(-10px);
}

.section {
  transition: transform 2s, opacity 2s;
}

.section-hidden {
  transform: translateY(10rem);
  opacity: 0;
}

/* Hero section */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  animation: heroTextReveal 5s 1;
}

@keyframes heroTextReveal {
  from {
    transform: translateX(-100rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hello {
  font-weight: 500;
}

.main-headline {
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 600;
  color: var(--color-secondary);
}

.main-headline span {
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);
}

.btn {
  background-color: rgba(64, 224, 208, 0.2);
  border: 1px dashed var(--color-primary);
  padding: 1rem 3rem;
  color: var(--color-dark);
  font-size: 2rem;
  font-weight: 500;
  border-radius: 3px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgba(255, 99, 71, 0.2);
  border-color: var(--color-secondary);
}

.hero-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  animation: heroImgReveal 5s 1;
}

@keyframes heroImgReveal {
  from {
    transform: translateX(100rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-right img {
  width: 80%;
  display: block;
}

/* About */
.section-title {
  font-size: 3rem;
  text-align: center;
  margin: 15rem 40vw 0;
  border-bottom: 1px solid var(--color-dark);
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 7.5rem;
}

.about-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-left img {
  width: 60%;
  display: block;
}

.about-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
}

/* Skills */
.tagcloud {
  margin: auto;
  font-size: 2rem;
}

.tagcloud--item {
  cursor: pointer;
  transition: all 0.3s;
}

.tagcloud--item:hover {
  color: var(--color-secondary);
}

/* Projects */
.projects {
  margin-top: 7.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.project {
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 5.3px 7.9px 20.8px rgba(0, 0, 0, 0.025),
    42px 63px 166px rgba(0, 0, 0, 0.05);
}

.project-img {
  overflow: hidden;
  border-radius: 10px;
}

.project-img img {
  width: 100%;
  border-radius: 10px;
  transform: scale(1.2);
}

.project-tools {
  color: var(--color-primary);
  display: flex;
  gap: 2rem;
}

.project-tools span {
  background-color: rgba(64, 224, 208, 0.1);
  padding: 0.2rem 1.5rem;
}

.project-btns {
  display: flex;
  justify-content: space-between;
}

.project-btns a {
  font-size: 2rem;
  color: var(--color-secondary);
  font-weight: 500;
  transition: all 0.3s;
}

.project-btns a:hover {
  color: var(--color-dark);
}

/* Contact */
.contact {
  margin-top: 7.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.input {
  width: 50rem;
  height: 4rem;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1.5rem;
  font-family: inherit;
  transition: all 0.3s;
}

.text-area {
  width: 50rem;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 2px solid transparent;
  font-size: 1.5rem;
  font-family: inherit;
  transition: all 0.3s;
  resize: none;
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-dark);
  transition: all 0.3s;
}

.input:hover,
.input:focus,
.text-area:hover,
.text-area:focus {
  outline: none;
  border-color: #05060f;
}

.cta {
  position: relative;
  padding: 12px 18px;
  transition: all 0.3s;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: rgba(255, 99, 71, 0.3);
  width: 45px;
  height: 45px;
  transition: all 0.3s;
}

.cta span {
  position: relative;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-dark);
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--color-dark);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s;
}

.cta:hover:before {
  width: 100%;
  background: rgba(255, 99, 71, 0.3);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.contact-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-right img {
  width: 80%;
  display: block;
}

/* Footer */
footer {
  text-align: center;
}

footer p {
  display: inline-block;
  margin: 10rem;
  cursor: pointer;
  position: relative;
}

footer p::before {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--color-secondary);
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

footer p::after {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  right: 0;
  bottom: -5px;
  background-color: var(--color-secondary);
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

footer p:hover::before {
  width: 50%;
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

footer p:hover::after {
  width: 50%;
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

footer p span {
  transition: all 0.3s;
}

footer p:hover span {
  color: var(--color-secondary);
}

/* Pre loader */

.preloader {
  background-color: var(--color-light);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 103;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  transform: scale(2);
  border-radius: 50%;
  border: 1px solid;
  width: 30px;
  height: 30px;
  color: var(--color-dark);
}

.loader::after {
  position: absolute;
  width: 0px;
  height: 10px;
  display: block;
  border-left: 1px solid var(--color-dark);
  content: "";
  left: 14px;
  border-radius: 1px;
  top: 4px;
  animation-duration: 1s;
}

.loader::before {
  position: absolute;
  width: 0px;
  height: 10px;
  display: block;
  border-left: 1px solid var(--color-dark);
  content: "";
  left: 14px;
  border-radius: 1px;
  top: 4px;
  animation-duration: 40s;
}

.loader::before,
.loader::after {
  transform-origin: bottom;
  animation-name: dial;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes dial {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Media queries */
@media screen and (max-width: 1440px) {
  .hero-right {
    align-items: center;
  }

  .hero-right img {
    width: 80%;
  }

  .about-left img {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .hero-right {
    justify-content: center;
  }

  .about {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .about-left {
    justify-content: center;
  }

  .section-title {
    margin: 15rem 20vw 0;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .links {
    display: none;
  }

  .toggle {
    display: flex;
  }

  .hero-left {
    align-items: center;
    text-align: center;
  }

  .about-right {
    align-items: center;
    text-align: justify;
  }

  .contact {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .contact-right {
    justify-content: center;
  }

  .input,
  .text-area {
    width: 40rem;
  }
}

@media screen and (max-width: 425px) {
  .main-headline {
    font-size: 3.5rem;
  }

  .btn {
    font-size: 1.5rem;
  }

  .project-btns {
    flex-direction: column;
    gap: 2rem;
  }

  .input,
  .text-area {
    width: 30rem;
  }
}
