:root {
  --color-primary: #40e0d0;
  --color-secondary: #ff6347;
  --color-light: #f7f7f7;
  --color-dark: #444;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: var(--color-secondary);
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Fira Code", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 0 10vw;
  animation: navReveal 2s 1;
}

@keyframes navReveal {
  from {
    transform: translateY(-10rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.sticky .navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 9px 12.5px 62.6px rgba(0, 0, 0, 0.025),
    72px 100px 500px rgba(0, 0, 0, 0.05);
}

.sticky .hero {
  margin-top: 10rem;
}

.logo img {
  display: block;
  width: 10rem;
}

.links {
  display: flex;
  gap: 5rem;
}

.links.links-open {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-light);
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
}

@keyframes mobileNavAppear {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes mobileNavDisappear {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

.link-item a {
  color: inherit;
  position: relative;
}

.link-item a::after {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--color-dark);
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.link-item a:hover::after {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 102;
}

.toggle span {
  background-color: var(--color-dark);
  width: 20px;
  height: 2px;
  transition: all 0.3s;
}

.toggle span:nth-child(2) {
  width: 14px;
}

.toggle.toggle-close span:first-child {
  transform: rotate(45deg) translateY(10px);
}

.toggle.toggle-close span:nth-child(2) {
  transform: translateX(-10rem);
  opacity: 0;
  visibility: hidden;
}

.toggle.toggle-close span:last-child {
  transform: rotate(-45deg) translateY(-10px);
}

/* Section */
.section {
  padding-top: 15rem;
  transition: transform 2s, opacity 2s;
}

.section-hidden {
  transform: translateY(10rem);
  opacity: 0;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin: 0 35vw;
  border-bottom: 1px solid var(--color-dark);
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  animation: heroTextReveal 2s 1;
}

@keyframes heroTextReveal {
  from {
    transform: translateX(-50rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hello {
  font-weight: 500;
}

.main-headline {
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 600;
  color: var(--color-secondary);
}

.main-headline span {
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);
}

.hero-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  animation: heroImgReveal 2s 1;
}

@keyframes heroImgReveal {
  from {
    transform: translateX(50rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-right img {
  display: block;
  width: 80%;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10rem;
}

.about-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-left img {
  display: block;
  width: 60%;
}

.about-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
}

/* Skills */
.content {
  overflow: hidden;
}

.tagcloud {
  margin: auto;
  font-size: 2rem;
}

.tagcloud--item {
  transition: all 0.3s;
}

.tagcloud--item:hover {
  color: var(--color-secondary);
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding-top: 10rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 9px 12.5px 62.6px rgba(0, 0, 0, 0.025),
    72px 100px 500px rgba(0, 0, 0, 0.05);
}

.project-img {
  overflow: hidden;
  border-radius: 10px;
}

.project-img img {
  width: 100%;
  border-radius: 10px;
  transform: scale(1.2);
}

.project-tools {
  color: var(--color-primary);
  display: flex;
  gap: 2rem;
}

.project-tools span {
  background-color: rgba(64, 224, 208, 0.1);
  padding: 0.2rem 1.5rem;
}

.project-btns {
  display: flex;
  justify-content: space-between;
}

.project-btns a {
  font-size: 2rem;
  color: var(--color-secondary);
  font-weight: 500;
  transition: all 0.3s;
}

.project-btns a:hover {
  color: var(--color-dark);
}

/* Contact */
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding-top: 10rem;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.input {
  width: 50rem;
  height: 4rem;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1.5rem;
  font-family: inherit;
  transition: all 0.3s;
}

.text-area {
  width: 50rem;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 2px solid transparent;
  font-size: 1.5rem;
  font-family: inherit;
  transition: all 0.3s;
  resize: none;
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-dark);
  transition: all 0.3s;
}

.input:hover,
.input:focus,
.text-area:hover,
.text-area:focus {
  outline: none;
  border-color: #05060f;
}

.cta {
  position: relative;
  padding: 12px 18px;
  transition: all 0.3s;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: rgba(255, 99, 71, 0.3);
  width: 45px;
  height: 45px;
  transition: all 0.3s;
}

.cta span {
  position: relative;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-dark);
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--color-dark);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s;
}

.cta:hover:before {
  width: 100%;
  background: rgba(255, 99, 71, 0.3);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.contact-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-right img {
  display: block;
  width: 80%;
}

/* Footer */
footer {
  background-color: var(--color-secondary);
  padding: 15rem 0;
  margin-top: 15rem;
  text-align: center;
}

footer span {
  color: var(--color-light);
}

/* Media queries */
@media screen and (max-width: 1440px) {
  .hero-right {
    align-items: center;
  }

  .hero-right img,
  .about-left img {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .hero-right {
    justify-content: center;
  }

  .about {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .about-left {
    justify-content: center;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .links {
    display: none;
  }

  .toggle {
    display: flex;
  }

  .hero-left {
    align-items: center;
    text-align: center;
  }

  .about-right {
    align-items: center;
    text-align: justify;
  }

  .contact {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .input,
  .text-area {
    width: 42rem;
  }

  .contact-right {
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .main-headline {
    font-size: 3.5rem;
  }

  .project-btns a {
    font-size: 1.8rem;
  }

  .input,
  .text-area {
    width: 35rem;
  }
}

@media screen and (max-width: 366px) {
  .input,
  .text-area {
    width: 30rem;
  }
}
